.bg-image {
    background-image: url("https://th.bing.com/th/id/R.92f54f3be8a06fe9c212d81928a4ae14?rik=dmGCLrFhSlDPNA&riu=http%3a%2f%2fdpmptspnaker.solokkab.go.id%2fasset%2fimages%2fpesan.png&ehk=cgfLAcvO2CvWWMs86fkdZH%2fU5WzxzqbCUkmixsdXfKk%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
